@tailwind base;
@tailwind components;
@tailwind utilities;

.sidebar-scroll {
    scrollbar-width: none;          /* Firefox */
    -ms-overflow-style: none;       /* IE 10+ */
}

.sidebar-scroll::-webkit-scrollbar {
    display: none;                  /* Chrome, Safari */
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none;  /* IE & Edge */
    scrollbar-width: none;     /* Firefox */
}
